<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Document</title>
</head>
<link rel="stylesheet" href="{% static 'prac_APP/styles.css' %}">
<body>
    <nav>
        <ul>
            <li><a href="{% url 'room_list' %}">Rooms</a></li>
            <li><a href="{% url 'booking_list' %}">My Bookings</a></li>
            <li><a href="{% url 'profile_page' %}">Profile</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login_view' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
